.layout {
        display: flex;
        justify-content: center;
        margin: 5rem;
}
.main-card{
        height: 400px;
        background-color: antiquewhite;
        width: 600px;

}
.card-list{
        display: flex;
        justify-content: flex-start;
        padding: 0.5rem;
        margin: 0.5rem;
        flex-wrap: nowrap;
}
.card{
        cursor: pointer;
        height: 1rem;
        background-color: white;
        padding: 1rem;
        display: flex;
        justify-content: center;
}
